
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {

  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /*
  img size is 50x50 */
  
  
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  
  
}

.whiteCard {
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    overflow: hidden;
}
.homeContainers {
    border-radius: 10px;
    background: #ffffff;
    /*box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
                 */
    overflow: hidden;
}
.secondaryCard {
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: -2px 0px 19px 8px rgba(0,0,0,0.47);
    -webkit-box-shadow: -2px 0px 19px 8px rgba(0,0,0,0.47);
    -moz-box-shadow: -2px 0px 19px 8px rgba(0,0,0,0.47);
}
.inputBorder {
    border: none;
    border-bottom: 5px solid #FF5500;
    outline: none;
}
.inputBorder:hover {
    border: none;
    border-bottom: 5px solid #FF5500;
    outline: none;
}
.inputBorder:focus {
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #FF5500;
  outline: none;
}

.scrollDiv {
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.scrollDiv::-webkit-scrollbar {
    height: 2px;
    width: 3px;
    border-radius: 1px;
  }
  
.scrollDiv::-webkit-scrollbar-thumb {
    border: 1px solid #FF5500 ; 
    border-radius: 1px;
    background-color: #FF5500;
  }
.cardBorder {
    border-width: 1px;
    border-radius: 15px;
    border-color: #FF5500;
}
.allCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button {
    background-color: transparent;
    @apply text-[#FF5500];
    border: 2px solid #FF5500;
    border-radius: 10px;
    text-align: center;
    @apply  h-[40px] w-fit px-3
}
.button:hover{
    background-color: #FF5500;
    color: white;
    transition-duration: 900ms;
}
.inputDiv {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 3px 3px; 
  grid-template-areas: 
    ". ."
    ". ."; 
}
.anim {
    opacity: 0;
    transform: translateY(-300px);
    animation: moveup 0.5s linear forwards;
}
.backgroundWall {
    background: linear-gradient(90deg,#e52e71,#ff8a00);
}

.resumeResponsiveness {
    display: flex;
    flex-direction: row;
}
.headerVisiblity{
    display: none;
}
@media only screen and (max-width:900px) {
    .resumeResponsiveness{
        display: flex;
        flex-direction: column;
    }
    .headerVisiblity{
        display: block;
    }
    .inputDiv {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; 
    }
}
@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}