.whiteCard {
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    overflow: hidden;
}
.homeContainers {
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    overflow: hidden;
}
.secondaryCard {
    border-radius: 20px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: -2px 0px 19px 8px rgba(0,0,0,0.47);
    -webkit-box-shadow: -2px 0px 19px 8px rgba(0,0,0,0.47);
    -moz-box-shadow: -2px 0px 19px 8px rgba(0,0,0,0.47);
}
.inputBorder {
    border: none;
    border-bottom: 5px solid #FF5500;
    outline: none;
}
.inputBorder:hover {
    border: none;
    border-bottom: 5px solid #FF5500;
    outline: none;
}
.scrollDiv {
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.scrollDiv::-webkit-scrollbar {
    height: 5px;
    width: 1px;
    border-radius: 20px;
  }
  
  .scrollDiv::-webkit-scrollbar-thumb {
    border: 1px solid #FF5500 ; 
    border-radius: 20px;
    background-color: #FF5500;
  }
.cardBorder {
    border-width: 1px;
    border-radius: 15px;
    border-color: #FF5500;
}
.allCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button {
    background-color: transparent;
    color: #FF5500;
    border: 2px solid #FF5500;
    border-radius: 25px;
    text-align: center;
}
.button:hover{
    background-color: #FF5500;
    color: white;
    transition-duration: 900ms;
}
.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
.resumeResponsiveness {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:900px) {
    .resumeResponsiveness{
        display: flex;
        flex-direction: column;
    }
}
@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}