@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./assets/fonts/PPNeueMachina-InktrapVariable.woff) format('woff');
  }

body{
    font-family: "MyFont";
}

::selection{
  background-color: #FF5500;
  color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-text-fill-color: #000000;
 -webkit-box-shadow: 0 0 0px 1000px #e0e0e0 inset;
}
:root {
  --primaryBG: #ffffff;
  --cardBG: rgb(240, 224, 214);

}